* {
    font-family: 'OpenSans';
}
/* Handle all scrollbar */
* :not(#root) ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

* :not(#root) ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(19, 19, 19, 0.7);
}

* :not(#root) ::-webkit-scrollbar-thumb {
    background: rgba(199, 199, 199, 1);
    border-radius: 10px;
}
/* End of handle all scrollbar */

.MuiDialogContent-root {
    font-family: 'Roboto', sans-serif !important;
}

#search-box {
    width: 3.5rem;
    transition: 0.25s ease-in-out;
}
#search-box:focus {
    width: 14rem;
}

.modalContainer {
    height: 90vh;
    z-index: 120 !important;
    width: 70%;
    margin: auto;
}

.popupContainer {
    position: relative;
    height: 90vh;
    outline: none;
    transition: 0.25s;
    border-radius: 1vh;
    /* margin: 25px auto; */
}

.modalContent {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 64px 30px;
    background: #fff;
    border-radius: 1vh;
    overflow-y: auto;
    transition: 0.25s;
    outline: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(184, 184, 184, 1);
    box-shadow: 0px 0px 10px 0px rgba(184, 184, 184, 1);
    /* margin: 25px auto; */
    /* margin-top: 5rem; */
}

#btn-container {
    background: none;
    padding-left: 240px;
    transition: 0.25s;
    position: fixed;
    z-index: 111;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.MuiDrawer-paper {
    z-index: 102 !important;
}
.MuiAppBar-positionFixed {
    z-index: 100 !important;
}
.MuiPopover-root,
.MuiDialog-root {
    z-index: 130 !important;
}

/* RESPONSIVE MEDIA QUERY */
@media only screen and (max-width: 960px) {
    .popupContainer {
        width: 75%;
    }
}

/* NAWATABLE start */
.nawatable-module-title {
    width: 100% !important;
    padding: 5px 0;
    font-weight: 400 !important;
    min-height: 50px;
    display: flex;
}

.nawatable-module-title .nawatable-module-title-left-flex {
    width: 70%;
    height: 100%;
}

.nawatable-module-title .nawatable-module-title-right-flex {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    height: 100%;
    padding: 3px;
}

.nawatable-module-title .nawatable-module-title-right-flex div {
    width: 100px;
    height: 100%;
    border-radius: 4px;
}

.nawatable-module-title .nawatable-module-title-right-flex div .MuiFilledInput-underline::before {
    border-bottom: none !important;
}

.nawatable-module-title .nawatable-module-title-right-flex svg {
    color: #fff;
}

.nawatable-module-title .nawatable-module-title-right-flex select {
    padding: 10px 14px !important;
    color: #fff;
}

.nawatable-module-title .nawatable-module-title-right-flex select option {
    color: #000;
}

.nawatable-table-container {
    width: 100%;
    height: 75%;
}

.nawatable-table-container-view-builder {
    width: 100%;
}

.nawatable-table-container-noToolbar {
    width: 100%;
    height: 85%;
    padding-top: 5px;
}

.nawatable-table-container-noPagination {
    width: 100%;
    height: 85%;
}

.nawatable-table-container-noToolbarAndPagination {
    width: 100%;
    height: 95%;
    padding: 5px 0;
}

.nawatable-main-table table {
    border-collapse: separate;
    width: 100%;
}

.nodata-height {
    overflow-y: hidden !important;
}

.nodata-height table {
    height: 100%;
}

/* .nawatable-main-table table tbody :hover {
	background-color: rgb(239, 240, 242) !important;
} */

.nawatable-main-table table thead tr th,
.nawatable-skeleton table tbody tr th {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.nawatable-main-table table tbody tr td:not(.summary-row),
.nawatable-skeleton table tbody tr td {
    border: 1px solid rgb(238, 238, 238);
    border-top: 0;
}

/* scrollbar */
.nawatable-main-table {
    scrollbar-color: rgba(90, 90, 90, 0.7) rgba(199, 199, 199, 1);
    scrollbar-width: thin;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
}

.nawatable-table-container ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.nawatable-table-container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(19, 19, 19, 0.7);
}

.nawatable-table-container ::-webkit-scrollbar-thumb {
    background: rgba(199, 199, 199, 1);
    border-radius: 10px;
}

/* header */
.nawatable-main-table table thead {
    height: 24px;
    white-space: nowrap;
}

.nawatable-main-table table thead tr .nawatable-checkbox-column {
    width: 3% !important;
    position: sticky;
    right: 0;
    z-index: 11 !important;
    border-right: 1px solid rgb(238, 238, 238);
    text-align: center;
}

.nawatable-main-table table thead tr th {
    background-color: #f5f5f5;
    padding: 5px 16px;
    height: 100%;
}

.nawatable-main-table table thead tr th:last-child {
    border-left: 1px solid rgb(238, 238, 238);
}

.actionlist-header {
    right: 0;
    z-index: 11 !important;
}

.nawatable-column-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nawatable-sort-icon {
    transform: rotate(90deg);
    height: 20px !important;
    cursor: pointer;
    color: rgb(61, 61, 61);
}

.nawatable-sort-icon :hover {
    color: #000;
}

.nawatable-column-resizer {
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    height: 100%;
    width: 6px;
}

/* body */
.nawatable-main-table table tbody tr td {
    padding: 10px 16px;
    white-space: nowrap;
    font-size: 13px;
}

.nawatable-main-table table tbody tr:first-child td {
    border-top: 0;
}

.nawatable-main-table table tbody tr td:first-child {
    border-left: 0;
}

.nawatable-main-table table tbody tr td:last-child {
    border-right: 0;
}

.nawatable-main-table table tbody tr td .MuiButtonBase-root {
    padding: 0 9px;
}

/* footer */
.nawatable-main-table table tfoot tr td {
    padding: 10px 16px;
    white-space: nowrap;
    font-size: 13px;
}
.nawatable-main-table table tfoot tr:first-child td {
    border-top: 1px solid #eeeeee;
}

.nawatable-main-table table tfoot .nawatable-checkbox-column {
    border-right: 1px solid #eeeeee;
}

.nawatable-main-table table tfoot .nawatable-actionlist-column {
    border-left: 1px solid #eeeeee;
}

.nawatable-checkbox-row {
    right: 0;
    left: 0;
    position: sticky;
    background-color: #fff;
    z-index: 10;
}

.actionlist-row {
    right: 0;
    position: sticky;
    background-color: #fff;
    white-space: nowrap;
    width: 150px;
    z-index: 10;
}

.actionlist-row-hover {
    background-color: rgb(239, 240, 242) !important;
}

.actionlist-row button {
    padding: 0px 12px;
}

.actionlist-row svg {
    margin: 0 2px;
}

.actionlist-additional .MuiPaper-root {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.05);
}

/* enhanced table toolbar */
.enhanced-toolbar-container {
    width: 100%;
    margin: 0 0 15px 0;
    display: flex;
    height: 32px;
}

/* left side */
.enhanced-toolbar-left {
    display: flex;
    width: 35%;
}

.enhanced-toolbar-dropdown {
    width: 35%;
}

.enhanced-toolbar-dropdown div {
    border-bottom-right-radius: 0% !important;
    border-top-right-radius: 0% !important;
    height: 100%;
}

.enhanced-toolbar-dropdown div select {
    padding: 10px 32px 10px 5px !important;
}

.enhanced-toolbar-search,
.enhanced-toolbar-search-radius {
    width: 55%;
}

.enhanced-toolbar-search-radius label {
    transform: translate(12px, 8px) scale(1);
    color: #a7a7a7;
}

.enhanced-toolbar-search-radius div {
    border-bottom-right-radius: 0% !important;
    border-top-right-radius: 0% !important;
    height: 100%;
}

.enhanced-toolbar-search div {
    border-radius: 0 !important;
    height: 100%;
}

.enhanced-toolbar-search div input,
.enhanced-toolbar-search-radius div input {
    padding: 10px 7px !important;
}

.enhanced-toolbar-searchicon {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    height: 100%;
}

.enhanced-toolbar-searchicon :hover {
    color: rgb(199, 196, 196);
}

/* right side */
.enhanced-toolbar-right {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.enhanced-toolbar-full {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.enhanced-toolbar-customizeicon,
.enhanced-toolbar-filtericon {
    cursor: pointer;
    color: rgb(61, 61, 61);
    margin-left: 20px;
}

.enhanced-toolbar-customizeicon :hover,
.enhanced-toolbar-filtericon :hover {
    color: #000;
}

.enhanced-toolbar-download {
    width: 25%;
    margin-left: 20px !important;
}

.enhanced-toolbar-download,
.enhanced-toolbar-download div {
    height: 100%;
}

.enhanced-toolbar-download select {
    padding: 10px 32px 10px 5px !important;
}

.enhanced-toolbar-addbutton {
    height: 100%;
    margin-left: 20px !important;
    text-transform: none !important;
    font-weight: 300 !important;
    padding: 6px 20px !important;
}

/* pagination */
.custom-pagination-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-pagination-left {
    display: flex;
    align-items: center;
}

.custom-pagination-currentpage {
    margin-right: 10px !important;
}

.custom-pagination-currentpage div input {
    padding: 0 !important;
    width: 40px;
    height: 30px;
}

.custom-pagination-arrow {
    margin-left: 10px;
    cursor: pointer;
    color: rgb(61, 61, 61);
}

.custom-pagination-arrow :hover {
    color: #000;
}

.custom-pagination-arrowdisabled {
    color: rgb(166, 166, 166);
    cursor: default;
    margin-left: 10px;
}

.nawatable-footer-sticky {
    position: sticky;
    bottom: -1px;
    z-index: 15;
    background-color: #fff;
}

.nawatable-footer-button {
    height: 32px;
    text-transform: none !important;
    margin-right: 10px !important;
    color: rgb(61, 61, 61) !important;
}

.nawatable-footer-button:hover {
    background-color: #ebeef4 !important;
}

.nawatable-footer-more-button {
    display: inline-flex;
    background-color: #fff;
    color: rgb(61, 61, 61);
    padding: 0 10px 0 6px;
    height: 30px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif !important;
    border-radius: 4px;
}

.nawatable-footer-more-button:hover {
    background-color: #ebeef4;
    cursor: pointer;
}

.custom-pagination-right {
    display: flex;
    color: rgb(166, 166, 166);
    padding-right: 10px;
    white-space: nowrap;
    align-items: center;
    max-width: 80%;
}

/* skeleton */
.nawatable-skeleton {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden !important;
}

.nawatable-skeleton table {
    width: 100%;
    table-layout: fixed;
}

.nawatable-skeleton table thead tr th:first-child {
    width: 100px;
}

.nawatable-skeleton-loader {
    background-color: rgb(218, 218, 218) !important;
    height: 14px !important;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.nawatable-skeleton-loader div {
    background-color: rgb(180, 180, 180) !important;
}

/* no data found */
.nawatable-nodatafound-container {
    width: 100%;
    height: 100%;
}

.nawatable-nodatafound {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    /* border: 1px solid rgb(238, 238, 238);
        border-radius: 10px; */
}

.nawatable-nodatafound-image {
    height: 50%;
}

.nawatable-nodatafound-primary {
    margin-top: 5px;
    color: rgb(61, 61, 61);
    font-size: 24px;
    font-weight: 500;
}

.nawatable-nodatafound-secondary {
    margin-top: 5px;
    color: rgb(166, 166, 166);
}

/* drawer */
.nawatable-drawer-container .MuiPaper-root {
    width: 33%;
}

.nawatable-drawer {
    height: 100%;
    padding: 0 20px 20px 20px;
}

.nawatable-drawer-header {
    height: 120px;
}

.nawatable-drawer-header div:first-child {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nawatable-drawer-header div:first-child button {
    width: 20%;
    text-transform: none;
    white-space: nowrap;
}

.nawatable-drawer-header div:first-child button:first-child {
    margin-right: 16px;
}

.nawatable-drawer-header div:first-child :hover {
    cursor: pointer;
}

.nawatable-drawer-header div:last-child {
    height: 56px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
}

.nawatable-drawer-body {
    display: flex;
    flex-direction: column;
}

.nawatable-drawer-options {
    width: 100%;
    border: 1px solid rgb(238, 238, 238);
    margin: 5px 0;
    padding: 5px;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .nawatable-drawer-container .MuiPaper-root {
        width: 90%;
    }
}

/* menu access */
.menu-access-edit-row-changed-arrow {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid red;
    transform: rotate(45deg);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -4px;
    margin-right: -2px;
}

/* RESPONSIVE start */
.nawatable-main-table-responsive {
    width: 100%;
    padding-top: 135px;
    height: calc(100% - 124px);
    min-height: calc(100vh - 124px);
}

.nawatable-main-table-responsive-noName {
    width: 100%;
    padding-top: 52px;
    height: calc(100% - 124px);
    min-height: calc(100vh - 124px);
}

.nawatable-main-table-responsive-noToolbar {
    width: 100%;
    padding-top: 80px;
    height: calc(100% - 124px);
    min-height: calc(100vh - 124px);
}

.nawatable-main-table-responsive-noNameAndToolbar {
    width: 100%;
    height: calc(100% - 124px);
    min-height: calc(100vh - 124px);
}

.nawatable-footer-container-responsive {
    background-color: #fff;
    padding: 0 32px;
    width: 100%;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
}

.nawatable-footer-container-responsive .custom-pagination-right {
    padding: 0 !important;
}

/* SEARCH DRAWER start */
.nawatable-search-drawer-container {
    height: 120px;
    padding: 0 16px;
}

.nawatable-search-drawer-content {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.nawatable-search-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nawatable-search-drawer-header-search {
    font-size: 20px;
}

.nawatable-search-drawer-header-close {
    font-size: 13px;
}

.nawatable-search-drawer-header-close:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nawatable-search-drawer-footer {
    width: 100%;
    display: flex;
}

.nawatable-search-drawer-searchbar-container {
    height: 55px;
    width: 70%;
    padding-left: 12px;
    display: flex;
}

.nawatable-search-drawer-searchbar-container .MuiInputBase-root {
    width: calc(100% - 24px);
    height: 40px;
}

.nawatable-search-drawer-searchbar-container .MuiInputBase-root input {
    height: 40px;
    padding: 0 8px;
    background-color: #f2f4f7;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 15px;
}

.nawatable-search-drawer-searchbar-container button {
    padding: 0 10px;
}

.nawatable-search-drawer-searchbar-icon-container {
    background-color: #f2f4f7;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nawatable-search-drawer-columnselector-container {
    padding-right: 12px;
    width: 30%;
}

.nawatable-search-drawer-columnselector {
    width: 100%;
}

.nawatable-search-drawer-columnselector .MuiInputBase-root {
    height: 40px;
}

.nawatable-search-drawer-columnselector .MuiSelect-root {
    padding: 0 32px 0 10px !important;
    height: 40px;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    .nawatable-search-drawer-container {
        height: 185px;
        padding: 0;
    }

    .nawatable-search-drawer-header {
        padding: 0 16px;
    }

    .nawatable-search-drawer-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 125px;
    }

    .nawatable-search-drawer-searchbar-container {
        width: 100%;
        padding: 0 16px;
    }

    .nawatable-search-drawer-columnselector-container {
        padding: 0 16px;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        border-top: 1px solid #eeeeee;
    }
}
/* SEARCH DRAWER end */

/* DOWNLOAD DRAWER start */
.nawatable-download-drawer-container {
    width: 100%;
    padding: 0 128px;
}

.nawatable-download-drawer-container div:first-child {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
}

.nawatable-download-drawer-container div:last-child {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.nawatable-download-drawer-container div:last-child button {
    margin-top: 15px;
    font-size: 15px;
    text-transform: none;
}

@media only screen and (max-width: 600px) {
    .nawatable-download-drawer-container {
        padding: 0 16px;
    }
}
/* DOWNLOAD DRAWER end */

/* TABLET start */
.nawatable-module-title-tablet {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    height: 80px;
    background-color: #fff;
    z-index: 2;
    left: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
}

.nawatable-module-title-tablet-margin {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    height: 80px;
    background-color: #fff;
    z-index: 2;
    left: 0;
    margin-top: 52px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    position: fixed;
}

.nawatable-module-title-tablet-margin h4,
.nawatable-module-title-tablet h4 {
    max-width: 800px;
    width: 100%;
    padding: 31px 16px 16px 16px;
}

.enhanced-toolbar-container-tablet {
    width: 100%;
    height: 52px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 2;
    left: 0;
    position: fixed;
}

.enhanced-toolbar-tablet {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.nawatable-module-title-table-padding {
    padding: 16px !important;
    height: 65px;
    display: flex;
    align-items: center;
}

.enhanced-toolbar-container-tablet-left {
    width: 50%;
    display: flex;
    align-items: center;
}

.enhanced-toolbar-container-tablet-right {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.enhanced-toolbar-select-all-tablet {
    display: flex;
    align-items: center;
}

.enhanced-toolbar-select-all-tablet div {
    margin: 0 0 1px 5px;
}

.enhanced-toolbar-select-all-tablet div span {
    color: rgb(166, 166, 166);
}

.enhanced-toolbar-select-all-tablet .MuiCheckbox-root {
    padding: 0px !important;
}

/* icons */
.enhanced-toolbar-filtericon-tablet {
    margin-left: 25px;
    cursor: pointer;
}

.enhanced-toolbar-customizeicon-tablet {
    margin-left: 25px;
    cursor: pointer;
}

.enhanced-toolbar-searchicon-tablet {
    color: #646e7d;
    cursor: pointer;
}

.enhanced-toolbar-downloadicon-tablet {
    margin-left: 25px;
    font-size: 32px !important;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.enhanced-toolbar-addicon-tablet {
    margin-left: 25px;
    font-size: 32px !important;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
/* icons */

/* list */
.nawatable-container-tablet {
    width: 100%;
}

.nawatable-tablet-header {
    width: 100%;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f5f8;
}

.nawatable-tablet-header span {
    padding: 0 !important;
}

.nawatable-tablet-list {
    padding: 5px 16px;
    display: flex;
    align-items: center;
    min-height: 36px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
}

.nawatable-tablet-list-id {
    width: 50%;
    font-weight: 700;
}

.nawatable-tablet-list-value {
    width: 50%;
    word-wrap: break-word;
}

.nawatable-tablet-footer {
    padding: 0 16px;
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nawatable-tablet-footer-showmore {
    display: flex;
    align-items: center;
    color: #5d5fef;
    cursor: pointer;
}

.nawatable-tablet-footer-showmore:hover {
    text-decoration: underline;
}

.nawatable-tablet-footer-showmore svg {
    font-size: 16px !important;
}

.nawatable-tablet-footer-showmore div {
    padding-bottom: 3px;
    font-size: 16px;
    user-select: none;
}

.nawatable-tablet-footer-actionlist {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nawatable-tablet-footer-actionlist button {
    margin-left: 30px;
}

.nawatable-tablet-nodata-container {
    display: flex;
    justify-content: center;
    height: calc(100% - 259px);
    min-height: calc(100vh - 259px);
    padding: 25px;
    align-items: center;
}

.nawatable-tablet-nodata {
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nawatable-tablet-nodata-image {
    height: 180px;
}

/* list */

/* menu-access */
.nawatable-access-title-tablet {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 91px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    left: 0;
    margin-top: 52px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.nawatable-access-title-tablet p {
    max-width: 800px;
    width: 100%;
    padding: 0 16px;
}

.nawatable-access-title-tablet p:first-child {
    padding-top: 16px;
    font-size: 20px;
    font-weight: 400 !important;
    margin-bottom: 8px;
}

.nawatable-access-title-tablet p:last-child {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 300 !important;
}

.enhanced-toolbar-container-responsive-access {
    width: 100%;
    height: 52px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 2;
    left: 0;
    position: fixed;
}

.nawatable-search-drawer-searchbar-container-access {
    height: 55px;
    width: 100%;
    display: flex;
}

.nawatable-search-drawer-searchbar-container-access .MuiInputBase-root {
    width: calc(100% - 24px);
    height: 40px;
}

.nawatable-search-drawer-searchbar-container-access .MuiInputBase-root input {
    height: 40px;
    padding: 0 8px;
    background-color: #f2f4f7;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 15px;
}

.nawatable-search-drawer-searchbar-container-access button {
    padding: 0 10px;
}

.nawatable-search-drawer-container-access .nawatable-search-drawer-footer {
    height: 50px;
}
/* TABLET end */

/* MOBILE start */
.enhanced-toolbar-container-mobile {
    width: 100%;
    height: 52px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 2;
    left: 0;
    position: fixed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.enhanced-toolbar-select-all-mobile-font {
    font-size: 13px !important;
}

.enhanced-toolbar-mobile-title {
    padding: 70px 16px 16px 16px;
    font-size: 20px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.enhanced-toolbar-mobile-button-container {
    width: 100%;
    display: flex;
    padding: 0 16px 16px 16px;
    align-items: center;
    justify-content: space-between;
}

.enhanced-toolbar-mobile-button-container button {
    width: 50%;
    text-transform: none;
}

.enhanced-toolbar-mobile-button-container button:first-child {
    margin-right: 5px;
}

.enhanced-toolbar-mobile-button-container button:last-child {
    margin-left: 5px;
}

.nawatable-container-mobile {
    min-height: calc(100vh - 318px);
    height: calc(100% - 318px);
}

.nawatable-mobile-list {
    font-size: 13px !important;
    border-bottom: none !important;
}

.nawatable-mobile-nodata-container {
    min-height: calc(100vh - 318px);
    height: calc(100% - 318px);
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
}

.nawatable-mobile-footer-actionlist {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #eeeeee;
    height: 100%;
    align-items: center;
}

.custom-pagination-mobile {
    flex-direction: column;
}

.custom-pagination-mobile .custom-pagination-left {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .nawatable-tablet-footer-showmore div {
        font-size: 13px;
    }
}
/* MOBILE end */

/* MENU ACCESS start */
/* table */
.nawatable-main-table-responsive-access {
    width: 100%;
    padding-top: 143px;
    height: calc(100% - 124px) !important;
    min-height: calc(100vh - 124px);
}

.nawatable-container-responsive-access {
    width: 100%;
    height: 100%;
}

.nawatable-responsive-access-moduleLabel {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
}

.nawatable-tablet-access-gridItem {
    padding: 8px;
    position: relative;
}

.nawatable-tablet-access-gridItem-container {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.nawatable-tablet-access-gridItem-container span {
    padding: 0;
}

.nawatable-tablet-access-gridItem-container div {
    font-size: 13px;
    font-weight: 600;
    padding-left: 6px;
}

.nawatable-tablet-access-gridItem-container .Mui-disabled {
    color: #eee !important;
}

.nawatable-responsive-access-gridItem-disabled {
    color: rgba(0, 0, 0, 0.26);
}

.menu-access-edit-row-changed-arrow-responsive {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid red;
    transform: rotate(45deg);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 10px;
}

.nawatable-tablet-access-footer {
    padding: 16px;
    border-top: 1px solid #eeeeee;
    display: flex;
    align-items: center;
}

.nawatable-tablet-access-footer div {
    display: inline-block;
}

.nawatable-tablet-access-footer-flex {
    display: flex !important;
    cursor: pointer;
    align-items: center;
    font-size: 13px;
    user-select: none;
}

.nawatable-tablet-access-footer-flex svg {
    font-size: 16px !important;
    margin-right: 8px;
    color: #465672;
}
/* table */

/* mobile */
.enhanced-toolbar-container-mobile-left-access {
    width: 70%;
    display: flex;
    align-items: center;
}

.enhanced-toolbar-container-tablet-right-access {
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nawatable-mobile-access-list {
    position: relative;
}

.nawatable-mobile-access-list-container {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    position: relative;
}

.nawatable-mobile-access-list-container span {
    padding: 0;
}

.nawatable-mobile-access-list-container .MuiCheckbox-root {
    margin-right: 8px;
}

.nawatable-mobile-access-list-container div {
    font-size: 13px;
    padding-bottom: 3px;
}
/* mobile */
/* MENU ACCESS end */

/* RESPONSIVE end */

/* NAWATABLE end */

/* QUERYBUILDER start */
.query-builder-container {
    z-index: 1400 !important;
}

.query-builder-container .MuiDialog-container .MuiPaper-root {
    width: 80%;
    height: 90vh;
    max-width: none;
    max-height: none;
    background-color: rgb(223, 247, 255);
}

/* scrollbar */
.query-builder-content-table-list,
.query-builder-content-table-display,
.table-display-card-content-container {
    scrollbar-color: rgba(90, 90, 90, 0.7) rgba(199, 199, 199, 1);
    scrollbar-width: thin;
}

.query-builder-content-container ::-webkit-scrollbar,
.table-display-card-content-container ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.query-builder-content-container ::-webkit-scrollbar-track,
.table-display-card-content-container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(19, 19, 19, 0.7);
}

.query-builder-content-container ::-webkit-scrollbar-thumb,
.table-display-card-content-container ::-webkit-scrollbar-thumb {
    background: rgba(199, 199, 199, 1);
    border-radius: 10px;
}

/* title */

/* content */
.query-builder-content {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color: #fff;
    overflow: hidden;
}

.query-builder-content-body {
    display: flex;
    height: 90%;
}

/* content list */
.query-builder-content-table-list {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px;
    overflow-y: auto;
    border-right: 1px solid #000;
    resize: horizontal;
}

.query-builder-content-table-list div {
    display: flex;
    align-items: center;
}

.query-builder-content-table-list div .MuiButtonBase-root {
    padding: 5px;
}

/* content display */
.query-builder-content-table-display {
    width: 80%;
    padding: 15px;
    position: relative;
}

.table-display-card {
    max-height: 300px !important;
    /* max-height: 336px !important; */
    max-width: 250px !important;
    min-height: 100px !important;
    min-width: 100px !important;
    position: absolute;
}

.table-display-card-joined {
    max-height: 372px !important;
    max-width: 250px !important;
    min-height: 100px !important;
    min-width: 100px !important;
    position: absolute;
}

.table-display-card-content {
    padding: 0 !important;
}

.table-display-card-header {
    height: 45px;
    cursor: move;
}

.table-display-card-content-container {
    height: 255px;
    overflow-y: auto;
    background-color: #fff;
}

.table-display-card-action {
    background-color: rgb(223, 247, 255);
    width: 100%;
    height: 36px;
    padding: 0 !important;
    flex-direction: column;
    align-items: flex-start !important;
}

.table-display-card-action-joined {
    height: 72px !important;
}

.table-display-join {
    height: 36px;
    display: flex;
    align-items: center;
}

.table-display-join-dropdown {
    height: 36px;
}

/* content footer */
.query-builder-content-footer {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #000;
}

.generated-query-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.generated-query-text {
    white-space: nowrap;
    padding: 0 10px;
}

.generated-query-display {
    width: 90%;
}

.generated-query-display div input {
    padding: 10px;
}

.generated-query-display .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.5);
}
/* QUERYBUILDER end */

/* TREEMENU start */
/* -------Global------- */
.tree-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.tree-container ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.tree-container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(19, 19, 19, 0.7);
}

.tree-container ::-webkit-scrollbar-thumb {
    background: rgba(199, 199, 199, 1);
    border-radius: 10px;
}

/* -------Function------- */
.hidden-checkbox {
    display: none;
}

.tree-item ul {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    padding-left: 12px;
}

.tree-item input:checked + div > ul {
    max-height: 2500px;
    transition: max-height 0.5s ease-in-out;
}

.tree-item input + div > ul {
    margin-bottom: 0;
}

.tree-item .nav-chevron-down,
.tree-item input:checked + div > .tree-item-flex .nav-chevron-up {
    display: flex;
}

.tree-item input:checked + div > .tree-item-flex,
.tree-item input:checked + div > a .tree-item-flex {
    font-weight: bold;
}

.tree-item .nav-chevron-up,
.tree-item input:checked + div > .tree-item-flex .nav-chevron-down {
    display: none;
}

/* -------Styling------- */

/* Tree */
.tree-item {
    padding-top: 6px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: rgba(90, 90, 90, 0.7) rgba(199, 199, 199, 1);
    scrollbar-width: thin;
}

.tree-item-flex:active {
    background-color: #cacaca;
}

.root ~ ul {
    padding-left: 30px;
}

.nav-chevron-down {
    color: #626262;
}

.tree-item-flex {
    width: 100%;
    min-height: 30px;
    max-height: 250px;
    padding: 8px 5px;
    color: #7d7d7d;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}

.tree-item-flex label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.child-text {
    width: 100%;
}

.tree-flex-expanded,
.tree-flex-collapsed {
    display: flex;
    align-items: center;
}

.tree-flex-expanded {
    width: 85%;
}

.tree-flex-collapsed {
    width: 100%;
    justify-content: center;
}

.collapse-hide-text {
    display: none !important;
}

/* FilterMenu */
.filter-container {
    margin-top: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

/*Menu Template*/
.menu-template-header-container {
    padding: 0 12px;
}

.menu-template-header-container p {
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
    color: #383838;
    border-bottom: 1px solid #62626273;
}
/* TREEMENU end */

/* LOGIN start */
.card {
    width: 350px;
    height: auto;
    z-index: 10;
}

.vektor-img {
    height: 100vh;
    width: 700px;
    position: absolute;
    right: 0;
    top: 0;
}

.id-field {
    width: 100%;
    margin-bottom: 30px !important;
}

.password-field {
    width: 100%;
}

.login-button {
    width: 100%;
    height: 50px;
    margin-top: 20px !important;
}

.helper-text-container {
    margin-top: 15px;
}

.forgot-password,
.sign-up {
    font-size: 14px !important;
    text-align: left !important;
    cursor: pointer;
    margin: 10px 0 10px 0px !important;
    color: #1890ff !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}

.forgot-password:hover,
.sign-up:hover {
    text-decoration: underline;
    color: red !important;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #fff;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentAnim {
    animation: anim1 0.5s ease-in-out;
}

.hideContent {
    display: none;
}

/* forgot password view */
.forgot-password-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: anim2 0.5s ease-in-out;
}

.forgot-password-header {
    margin-bottom: 30px;
    text-align: center;
}

.forgot-password-header h2,
.forgot-password-header h3 {
    margin-bottom: 0;
}

.forgot-password-textfield {
    width: 80%;
}

.forgot-password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.forgot-password-error-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-error-text {
    width: 80%;
    color: #3a12a8 !important;
}

.forgot-password-success-text {
    width: 80%;
    color: #000000 !important;
}

.forgot-password-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.forgot-password-button {
    width: 50%;
    height: 36px;
}

.forgot-password-back-button {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #3d3d3d;
    cursor: pointer;
    margin: 0 0 2px 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}

.forgot-password-back-button:hover {
    color: #7d7d7d;
    text-decoration: underline;
}

/* transition animation */
/* animation: comes in from left to right */
@keyframes anim1 {
    0% {
        transform: translate(-100%);
    }
    99% {
        display: flex;
        transform: translate(0%);
    }
    100% {
        display: none;
    }
}

/* animation: comes in from right to left */
@keyframes anim2 {
    0% {
        transform: translate(100%);
    }
    99% {
        display: flex;
        transform: translate(0%);
    }
    100% {
        display: none;
    }
}

/* responsive */
@media screen and (max-width: 672px) {
    .card {
        height: auto;
        width: 70%;
        position: absolute;
        left: 15%;
        right: 0;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 481px) {
    .nawadata-img {
        width: 50%;
    }

    .id-field {
        width: 100%;
    }

    .password-field {
        width: 100%;
    }

    .login-button {
        width: 85%;
    }
}
/* LOGIN end */

/* RESETPASSWORD start */
.reset-password-card-container {
    display: flex;
    width: 50%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.reset-password-card {
    width: 60%;
}

.reset-password-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nawadata-img {
    width: 70%;
    margin: 0;
    margin-bottom: 30px;
}

.reset-password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.reset-password-header {
    margin-bottom: 30px;
    text-align: center;
}

.reset-password-header h2,
.reset-password-header h3 {
    margin-bottom: 0;
}

.reset-password-textfield {
    width: 80%;
}

.reset-password-textfield-margin {
    margin-bottom: 20px !important;
}

.reset-password-error-text {
    width: 80%;
    color: #e53935 !important;
}

.reset-password-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.reset-password-button {
    width: 50%;
    height: 36px;
}
/* RESETPASSWORD end */

/* ADVANCED FILTER start */
.ant-select-dropdown {
    max-width: 250px;
}

.container-nawaIcon {
    width: 100%;
    height: min-content;
    padding: 5px 10px;
    border-color: #45c5de;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

/* shortcut button container */
.shortcutButtonContainer {
    height: auto;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* grid for vertical and horizontal shortcut */
.grid {
    display: grid;
}

.nawahover:hover {
    background-color: #ebeef4 !important;
}

/* ADVANCED FILTER end */

/* DEVEXPRESS REPORT start */
@import url('../node_modules/jquery-ui/themes/base/all.css');
@import url('../node_modules/devextreme/dist/css/dx.light.css');
@import url('../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.common.css');
@import url('../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.light.css');
@import url('../node_modules/@devexpress/analytics-core/dist/css/dx-querybuilder.css');
@import url('../node_modules/devexpress-reporting/dist/css/dx-webdocumentviewer.css');
@import url('../node_modules/devexpress-reporting/dist/css/dx-reportdesigner.css');

/* DEVEXPRESS REPORT end */

/* DEVEXPRESS DASHBOARD START */
@import url('../node_modules/jquery-ui/themes/base/all.css');
@import url('../node_modules/devextreme/dist/css/dx.light.css');
@import url('../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.common.css');
@import url('../node_modules/@devexpress/analytics-core/dist/css/dx-analytics.light.css');
@import url('../node_modules/@devexpress/analytics-core/dist/css/dx-querybuilder.css');
@import url('../node_modules/devexpress-dashboard/dist/css/dx-dashboard.light.css');
/* DEVEXPRESS DASHBOARD END */
