@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    /* font-stretch: 100%;
    font-display: swap; */
    src: url(./font/Roboto/Roboto-Regular.ttf) format('truetype');
    /* unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; */
  }

  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    /* font-stretch: 100%;
    font-display: swap; */
    src: url(./font/Open_FIka/OpenSans-Regular.ttf) format('truetype');
    /* unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; */
  }